
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

.absolute {
	position: absolute;
}

.pin-r { 
	float: right;
}

.bg-blue {
	background: #3490dc;
}

.relative {
	position: relative;
}

.text-white {
	color: #fff;
}

.red {
	color: #e3342f;
}

.bg-red {
	background: #e3342f;
}

.bg-red-dark {
	background-color: #cc1f1a;
}

.bg-green {
	background: #38c172;
}

.cursor-pointer {
	cursor: pointer;
}

.blue-light {
	color: #6CB2EB;
}

.blue-lighter {
	color: #BCDEFA;
}
